#reset{
    display: inline-block;
    position: absolute;
    right: 10px;
    background-color: silver;
    z-index: 10;
    padding: 0.4em;
    margin-right: 0.5em;
    font-size: 1.3em;
}

#reset:hover, #close:hover{
    cursor:pointer;
    background-color: white;
}

#close{
    right: 95px;
    display: inline-block;
    position: absolute;
    background-color: silver;
    z-index: 10;
    padding: 0.4em;
    margin-right: 0.5em;
    font-size: 1.3em;
}

#dist{
    right: 180px;
    display: inline-block;
    position: absolute;
    background-color: silver;
    z-index: 10;
    padding: 0.4em;
    margin-right: 0.5em;
    font-size: 1.3em;
}

.map{
    border: 5px solid silver;
}

#map_canvas{
    height: 25em;
}

html{
    font-family: Helvetica, Arial;
}